h1 {
  color:#ffffff;
}

body {
  background: cornflowerblue;
  font-size: 30px;
}

.container {
  margin: 20px;
  padding: 20px;
}

.small-container {
  min-height: 50vh;
  padding-top: 30vh;
  text-align: center;
  list-style-position: inside;
}

#about{
}
#navbar {
  position: fixed;
  width: 90vw;



#navbar .nav-links {
  text-decoration: none;
  color: black;
  margin: 10px;
}

#navbar .nav-links:hover {
  color: #000000;
}

#contact input, textarea {
  padding: 20px;
  margin: 15px auto;
  font-size: 18px;
  border: none;
}

#contact input[type="submit"] {
  background-color: #FFC169;
}
